.product-card {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card:hover {
    box-shadow: 10px 0 20px 1px grey, -10px 0 20px 1px grey ;
}

.product-image {
    max-width: 80%;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
}

h3 {
    margin: 10px 10px;
    text-align: center;
}

.product-price {
    margin: 5px 10px;
    text-align: left;
    font-weight: 300;
}

.product-button {
    margin: 15px 15px;
    min-width: 60%;
    min-height: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
}