.product-card {
    margin: 1rem;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2fr 1fr 0.5fr 0.5fr;
    justify-items: center;
}

.product-card:hover {
    box-shadow: 10px 0 20px 1px grey, -10px 0 20px 1px grey ;
}

.product-image {
    max-width: 80%;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
}

h3 {
    margin: 10px 10px;
    text-align: center;
}

.product-price {
    margin: 5px 10px;
    text-align: left;
    font-weight: 300;
}

.product-tocart-button {
    margin: 15px 15px;
    min-width: 60%;
    min-height: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
    transition: background-color 0.2s ease-out;
}

.product-tocart-button:hover {
    background-color: #adadad;
}

.product-tocart-button:active {
    background-color: #007bff;
}